.info-container {
  display: flex;
  margin: 20px 0;
  padding: 20px 0;
}
.info-image-container {
  margin-right: 20px;
}
.info-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.info-texts {
}

.info-label {
  display: inline-block;
  text-align: right;
  width: 50px;
  margin-right: 10px;
  font-weight: 700;
}
.info-name {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}
.info-detail {
  display: flex;
}
.info-detail-info {
  margin-right: 20px;
}
.info-address {
}
.info-phone {
}
.info-email {
}
.info-option-icon-group {
  margin: 10px 0;
}
.info-option-description {
  margin-top: 10px;
}
.info-hours {
  min-width: 200px;
}
.info-hour-entry {
}
